/* .table-headers-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
}

.all-observations-number {
  margin: 0;
  margin-left: 10px;
  font-weight: normal;
  margin-top: 6px;
  color: rgba(131, 131, 131, 1);
}

.newObservationButton {
  margin-left: 985px;
} */

/* .table-headers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-observations-title {
  margin: 0;
  flex-grow: 1;
}

.all-observations-number {
  margin: 0 10px;
  font-weight: normal;
  margin-top: 6px;
  color: rgba(131, 131, 131, 1);
}

.new-observation-button {
  margin-left: auto;
}
 */

.table-headers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.all-observations-title {
  margin-right: 0;
}

.all-observations-number {
  /* margin: 0 10px; */
  margin-right: auto;
  margin-left: 10px;
  margin-top: 6px;
  font-weight: normal;
  color: rgba(131, 131, 131, 1);
}

.new-observation-button {
  margin-left: auto;
}
