.tag {
  text-align: center;
  display: inline-block;
  height: Fixed (24px) px;
  padding: 2px 8px 2px 8px;
  gap: 8px;
  border-radius: 100px;
  opacity: 0px;
}

.manta_birostris {
  background: rgba(255, 246, 219, 1);
  color: rgba(148, 111, 0, 1);
}

.galeocerdo_cuvier {
  background-color: rgba(255, 236, 235, 1);
  color: rgba(255, 113, 102, 1);
}
