.table-area {
  border-radius: 10px;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;

  box-shadow: 0px 2px 9px 0px rgba(119, 119, 119, 0.15);
}

.table-area .p-datatable .p-datatable-thead > tr > th {
  white-space: nowrap;
  min-width: 100px; /* Adjust as needed */
  max-width: 100px; /* Adjust as needed */
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid rgba(213, 218, 226, 1);
}

.table-area .p-datatable .p-datatable-tbody > tr > td {
  white-space: nowrap;
  min-width: 100px; /* Adjust as needed */
  max-width: 100px; /* Adjust as needed */
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  padding: 10px;
  /* border-top: 1px solid rgba(213, 218, 226, 1); */
  border-bottom: 1px solid rgba(213, 218, 226, 1);
}

.p-paginator {
  background: #ffffff;
  color: #6b7280;
  border: solid #f3f4f6;
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none;
  color: #6b7280;
  min-width: 1.5rem;
  height: 1.5rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;
}
.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
  background: #f3f4f6;
  border-color: transparent;
  color: #374151;
}
.p-paginator .p-paginator-first {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.p-paginator .p-paginator-last {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.p-paginator .p-paginator-current {
  background-color: transparent;
  border: 0 none;
  color: #6b7280;
  min-width: 1.5rem;
  height: 1.5rem;
  margin: 0.143rem;
  padding: 0 0.5rem;
}
.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: #6b7280;
  min-width: 1.5rem;
  height: 1.5rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 50%;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  border-color: #eef2ff;
  color: #1d2d45;
  font-weight: bolder;
}
.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background: #f3f4f6;
  border-color: transparent;
  color: #374151;
}

.p-sortable-column {
  font-style: normal;
}

.p-sortable-column-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 8px;
  color: rgb(185, 185, 185);
}

.p-sortable-column-badge {
  font-size: 0.75rem;
  font-weight: lighter;
  display: inline-flex;
  align-items: baseline;
  color: rgb(185, 185, 185);
}

/* Container for the rows per page dropdown */
.p-paginator .p-dropdown {
  background-color: #f5f5f5; /* Custom background color */
  border-radius: 4px; /* Rounded corners */
  border: 1px solid #ccc; /* Border color */
  padding: 4px; /* Padding */
  font-size: medium;
  margin-left: 10%;
}

/* Styling for the dropdown trigger */
.p-paginator .p-dropdown .p-dropdown-label {
  color: #333; /* Text color */
}

.p-dropdown-items-wrapper {
  background-color: #f5f5f5; /* Custom background color */
  border-radius: 4px; /* Rounded corners */
  border: 1px solid #ccc; /* Border color */
  padding: 4px; /* Padding */
  font-size: medium;
  /* margin-left: 10%; */
}
